.top{
    display: flex;
    justify-content: center;
}

.blackBar{
    display: flex;
    width: 30px;
    height: 100px;
    background-color: black;
}

.bottom{
    display: flex;
    justify-content: center;
}

.blackBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    height: 450px;
    background-color: black;
    border-radius: 20px;
}

.light{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.glowRed{
    /* box-shadow: 10px 10px 10px 10px whitesmoke; */
    border-radius: 150px;
    background: #ff4d4d;
    box-shadow:  50px 50px 100px #661f1f,
                 -50px -50px 100px #ff7b7b;
}

.glowYellow{
    border-radius: 150px;
    background: #fff93d;
    box-shadow:  -50px -50px 100px #666418,
                 50px 50px 100px #ffff62;
}

.glowGreen{
    border-radius: 150px;
    background: #3dff54;
    box-shadow:  -50px -50px 100px #186622,
                 50px 50px 100px #62ff86;
}